<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuoteBoxSqlProvider" connectionString=
         "Data Source=PC180346\SQLDEV2014; 
         Initial Catalog=QuoteBox; Integrated Security=True" />
  </connectionStrings>
  <appSettings>


    <!-- Provider -->
    <!-- <add key="provider" value="System.Data.SqlClient" /> -->
    <!-- Connection String -->
    <!-- <add key="connectionString" value="Data Source=(localdb)\MSSQLLocalDB; 
         Initial Catalog=QuoteBox; Integrated Security=True" /> -->


    <!-- Logging -->
    <add key="logging" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>


