<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuoteBoxEntities" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=QuoteBox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QuoteBoxEntities1" connectionString="data source=PC180346\SQLDEV2014;initial catalog=QuoteBox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>