<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="QuoteBoxEntities" 
       connectionString="data source=DESKTOP-82GG0QM\MSSQLSERVER01;initial catalog=QuoteBox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
       providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>