<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="QuoteBoxSqlProvider"
         connectionString="Data Source=PC180346\SQLDEV2014; Initial Catalog=QuoteBox; Integrated Security=True"/>
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="QuoteBoxWebService.QuoteBoxService"
               behaviorConfiguration="QuoteBoxServiceBehavior">

        <!-- End points. -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="QuoteBoxWebService.IQuoteBoxService"/>

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="QuoteBoxServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <!-- policyVersion="Policy15" or policyVersion="Policy12" -->
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>